* {
  font-family: Helvetica;
}

h1 {
  font-family: Roboto;
  margin-top: 50px;
}

.grid {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .grid h1 {
    font-size: 20px;
  }
}

.grid2 {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

@media (max-width: 1024px) {
  .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .grid2 h3 {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.grid3 {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

@media (max-width: 768px) {
  .grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.grid4 {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

@media (max-width: 768px) {
  .grid4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .grid4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.near {
  margin-top: 50px;
}

.rest__type {
  margin-top: 100px;
  text-align: center;
}

.search__logo {
  height: 100;
}

.container__search {
  margin-top: 50px;
  background-color: #FADB5D;
  height: 500px;
  vertical-align: middle;
  text-align: center;
  display: table;
  width: 100%;
}

@media (max-width: 768px) {
  .__title {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .__title {
    font-size: 30px;
  }
}

.rest__title,
.engagement__title,
.near__title {
  margin-top: 300px;
  text-align: center;
  margin-top: 100px;
}

.rest__title h1,
.engagement__title h1,
.near__title h1 {
  margin-top: 200px;
  font-size: 50px;
}

@media (max-width: 768px) {

  .rest__title h1,
  .engagement__title h1,
  .near__title h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {

  .rest__title h1,
  .engagement__title h1,
  .near__title h1 {
    font-size: 35px;
    margin-bottom: 50px;
  }
}

@media (max-width: 360px) {

  .rest__title h1,
  .engagement__title h1,
  .near__title h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

.resto__item,
.plat__item {
  margin-top: 5%;
  margin-bottom: 5%;
  display: table;
  width: 100%;
  height: 200px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.resto__item img,
.plat__item img {
  max-width: 90%;
  max-height: 100%;
}

.resto__item img:hover,
.plat__item img:hover {
  opacity: 0.7;
}

.resto__item h3,
.plat__item h3 {
  font-size: 80px;
  margin-bottom: 4 0px;
}

.resto__item h2,
.plat__item h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.resto__item h1,
.plat__item h1 {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {

  .resto__item h3,
  .plat__item h3 {
    font-size: 40px;
  }
}

.admin__item {
  margin-top: 5%;
  margin-bottom: 5%;
  display: table;
  width: 100%;
  height: 200px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.admin__item img {
  max-width: 40%;
  max-height: 100%;
  border-radius: 50%;
}

.admin__item img:hover {
  opacity: 0.7;
}

.admin__item h3 {
  font-size: 80px;
  margin-bottom: 4 0px;
}

.admin__item h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.admin__item h1 {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .admin__item h1 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .admin__item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .admin__item h1 {
    font-size: 30px;
  }
}

.profile__item img {
  width: 60%;
  height: 60%;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 50%;
}

.profile__item img:hover {
  opacity: 0.7;
}

.profile__item h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
}

.profile__item h2 {
  font-weight: bold;
  margin-bottom: 20px;
  color: lightblue;
}

.profile__item h3 {
  margin-bottom: 50px;
}

.plat__item img {
  height: 100%;
  width: 100%;
}

.euro {
  background-image: url("/img/euro.png");
  background-repeat: no-repeat;
}

.euro:hover {
  opacity: 0.7;
}

.asia {
  background-image: url("/img/asia.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.asia:hover {
  opacity: 0.7;
}

.usa {
  background-image: url("/img/usa.jpg");
  background-repeat: no-repeat;
}

.usa:hover {
  opacity: 0.7;
}

.fra {
  background-image: url("/img/fra.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.fra:hover {
  opacity: 0.7;
}

.italie {
  background-image: url("/img/it.png");
  background-repeat: no-repeat;
  background-position: center;
}

.italie:hover {
  opacity: 0.7;
}

.__price {
  margin-bottom: 50px;
}

.vegan {
  background-image: url("/img/vegan.jpg");
  background-repeat: no-repeat;
  background-position: left;
}

.vegan:hover {
  opacity: 0.7;
}

._img {
  width: 30%;
  margin: 40px;
}

@media (max-width: 768px) {
  ._img {
    width: 25%;
  }
}

.__engagements {
  text-align: justify;
  margin: 20px;
}

.footer__main {
  margin-top: 150px;
  text-align: center;
}

.input-group {
  display: table-cell;
  vertical-align: middle;
}

.input-group h1 {
  margin-bottom: 80px;
  font-family: "Roboto";
}

.input-group input {
  width: 300px;
}

@media (max-width: 576px) {
  .input-group input {
    width: 200px;
  }
}

.comment__item {
  display: block;
  height: 30vh;
  width: 100%;
  right: 50%;
  background-color: transparent;
  padding: 2%;
}

.__commentList {
  height: 70%;
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  background-color: transparent;
}

.__commentForm {
  margin-top: 2%;
}

.shipping__cart {
  display: table;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  right: 2%;
  text-align: center;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 10px 5px #656565;
  position: fixed;
  z-index: 2;
}

.shipping__cart:hover {
  background-color: lightyellow;
}

.shipping__cart:active {
  background-color: #fbfd6d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width: 768px) {
  .shipping__cart {
    width: 80px;
    height: 80px;
  }
}

.shipping__cart img {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  right: 20%;
  top: 15%;
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .shipping__cart img {
    right: 14%;
    top: 10%;
  }
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  background-color: lightyellow;
}

.comment__item {
  height: 25vh;
  width: 100%;
  background-color: transparent;
  padding: 0 2% 2%;
  display: none;
}

.comment__item h1 {
  font-size: 20px;
  color: black;
}

.__comment {
  text-align: center;
}

.__comment h1 {
  font-size: 20px;
  color: black;
}

.__comment h3 {
  font-size: 15px;
  color: black;
}

.btn {
  margin-top: 10px;
}

@media (max-width: 300px) {
  .btn {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .btn {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .btn {
    font-size: 15px;
  }
}

.btn-primary {
  margin-top: 10px;
}

@media (max-width: 300px) {
  .btn-primary {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=style.css.map */