{% extends "base.html.twig" %}
{% form_theme MealForm 'bootstrap_4_layout.html.twig' %}
{% block body %}

<div class="ml-5 mr-5">
    {{ form_start(MealForm) }}
    {{ form_widget(MealForm) }}
    {{ form_end(MealForm) }}
</div>

{% endblock %}