{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <div class="rest__title">
            <h1 class="resto-title">Nom du resto</h1>
        </div>
        <div class="rest__type">
            <h1 class="resto-title">LES PLATS</h1>
        </div>
        <section class="grid__plat">
        
            
            <div class="plat__item">
                <a href=""><img class=""  href="" src="{{ asset('/img/restaurant/logo/')  ~ rest.logo }}"></a>
                <h2>{{ rest.name }}</h2>
                <p>{{ rest.description }} </p>
                <button type="button" class="btn btn-light">Voir les plats</button>
            </div>
            
        </section>

    

    </main>
    <footer class="footer__main">
        <p>Copyright La Tambouile ©️ 2020</p>
    </footer>

</body>

{% endblock %}

