{% extends 'base.html.twig' %}

{% block body %}

    <main>
    {% for rest in restaurant %}
        <div class="rest__title">
            <h1 class="resto-title">{{ rest.name}}</h1>
        </div>
        <div class="rest__type">
            <h1 class="resto-title">VEGAN</h1>
        </div>
        <section class="grid grid_item">
        
            {% for rest in restaurants %}
            <div class="resto__item">
                <a href=""><img class=""  href="" src="{{ asset('/img/restaurant/logo/')  ~ rest.logo }}"></a>
                <h2>{{ rest.name }}</h2>
                <p>{{ rest.description }} </p>
                <button type="button" class="btn btn-light">Voir les plats</button>
            </div>
            {% endfor %}
        </section>

    

    </main>
    <footer class="footer__main">
        <p>Copyright La Tambouile ©️ 2020</p>
    </footer>

</body>

{% endblock %}