<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/nav.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    </head>

   
    <body>
    <img class="logo" src="{{ asset('/img/logo.png')}}">
     <header>
        
        <nav class="nav">
            <a href="#" class="nav-item is-active" active-color="orange">Home</a>
            <a href="#" class="nav-item" active-color="orange">Restaurants</a>
            <a href="#" class="nav-item" active-color="orange">Se connecter</a>
            <a href="#" class="nav-item" active-color="orange">A propos</a>
            <span class="nav-indicator"></span>
        </nav>
    </header>

        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('/js/nav.js')}}"></script>        
        {% endblock %}
    </body>
</html>
