<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/nav.css') }}" rel="stylesheet">
    </head>

   
    <body>
    <img class="logo" src="{{ asset('/img/logo.png')}}">
     <header>
        
        <nav class="nav">
            <a href="#" class="nav-item is-active" active-color="orange">Home</a>
            <a href="#" class="nav-item" active-color="green">Restaurants</a>
            <a href="#" class="nav-item" active-color="blue">Se connecter</a>
            <a href="#" class="nav-item" active-color="red">A propos</a>
            <span class="nav-indicator"></span>
        </nav>
    </header>

        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('/js/nav.js')}}"></script>        
        {% endblock %}
    </body>
</html>
