{% extends 'base.html.twig' %}

{% block content %}

<body>
<section class="search">
    <div class="search-input">
        <form method="get">
            <label for="email">Enter your address </label>
            <input type="text" name="address" id="address" required>      
        </form>

    </div>

</section>
</body>
{% endblock %}



