{% extends 'base.html.twig' %}

{% block body %}


<section class="search">
        
        <div class="quote-image">
        
        
        <h2> FAITES VOUS LIVRER CHEZ VOUS !</h2>
        <img class="deliver-img" src="{{ asset('/img/deliver.png')}}">
        </div>

         <div class="search-address">
        
        <h2>Livré dans l'heure</h2>
        <form class="search-container">
            <input type="text" id="search-bar" placeholder="Entrez votre addresse ici !">
            <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
        </form>

        

        
        </div>

        
      
        

    </div>

</section>

<section class="restaurants">
    <h1>Nos restaurants</h1>
    <div class="rest rest-1">
        <img class=""  src="{{ asset('/img/rest1.jpeg')}}">
        <h2>Vegan Sable</h2>
        <p>Description de bobo qui parle de bien être et du fait de manger sain </p>
         <button type="button" class="btn btn-light">Voir</button>
    </div>

    <div class="rest rest-2">
        <img class="" src="{{ asset('/img/rest2.jpg')}}">
        <h2>Quinoa & Co</h2>
         <p>Description de bobo qui parle de bien être et du fait de manger sain </p>
          <button type="button" class="btn btn-light">Voir</button>
    </div>

    <div class="rest rest-3">
        <img class=""  src="{{ asset('/img/rest3.jpg')}}">
        <h2>Ham'burger Vegan</h2>
         <p>Description de bobo qui parle de bien être et du fait de manger sain </p>
         <button type="button" class="btn btn-light">Voir</button>
    </div>

</section>

{% endblock %}



